<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Noel's Paintings: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'admin' %>
</head>
<body>
<h1 style="color:red;">Noel's Paintings - Admin Site</h1>
<div style="margin: 0px 0px 10px 50px;">
	<span class="menu_ext">
		<%= link_to 'Public Website', :controller => 'Painting', :action => 'home' %>
	</span>
	<span class="menu">
		<%= link_to 'List All Paintings', :action => 'list' %>
	</span>
	<span class="menu">
		<%= link_to 'New Painting', :action => 'new' %>
	</span>
	<span class="menu">
		<%= link_to 'Log Out', :controller => 'Login', :action => 'logout' %>
	</span>
</div>
<hr style=" margin: 0px 0px 0px 20px">
<div style="margin: 20px 0px 0px 30px;">
	<p style="color: green"><%= flash[:notice] %></p>	
	<%= yield  %>
</div>
</body>
</html>
